@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";

/* globals.css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* ✅ Add custom Gotham font */
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-normal';
  src: url('/fonts/Gotham-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-bold';
  src: url('/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-ultra";
  src: url("/fonts/Gotham-Ultra.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-thin";
  src: url("/fonts/Gotham-Thin.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

@layer utilities {
  @keyframes pulse-dot {
    0%, 100% {
      transform: scale(0);
      opacity: 0.5;
    }

    50% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-pulse-dot {
    animation: pulse-dot 1s ease-in-out infinite;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-adron-body: #f5f5f5;
  --color-adron-black: #272727;
  --color-adron-green: #79B833;
  --color-adron-green-100: #e7ffcc;
  --color-adron-green-200: #EFFFDE;
  --color-adron-green-300: #CCFF93;
  --color-adron-red: #D70E0E;
  --color-adron-gray-50: #f5f5f5;
  --color-adron-gray-200: #8F8F8F;
  --color-adron-gray-300: #767676;
  --color-adron-gray-400: #717171;
  --color-adron-gray-500: #4F4F4F;
  --font-adron-title: 'Cormorant Garamond', sans-serif;
  --font-adron-text-body: Gotham;
  --font-adron-thin: Gotham-thin;
  --font-adron-mid: Gotham-normal;
  --font-adron-ultra: Gotham-Ultra;
}


body {
  background: var(--color-adron-body);
  color: var(--foreground);
  font-family: var(--font-adron-text-body);
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
  font-optical-sizing: auto;
  line-height: 1.4;
}

button {
  cursor: pointer;
}